Changelog
=========
{% for version, entries in items.items() %}
* [{{ version }}]{% endfor %}

{% for version, entries in items.items() %}
== {{ version }}{% if entries|is_dict %}
{% for entry, issues in entries|dictsort %}{% for issue in issues %}
* [{{issue.short_id}}]( {{issue.id}}) - {{ issue.message|trim }}{% endfor %}{% endfor %}
{% else %}
{% for issue in issues %}
* [{{issue.short_id}}]( {{issue.id}}) - {{ issue.message|trim }}{% endfor %}
{% endif %}
{% endfor %}